/*
* @Author: weijie
* @Date:   2017-06-30 12:05:44
* @Last Modified by:   weijie
* @Last Modified time: 2017-06-30 14:13:14
*/
.ry-tabs {
    height: 30px;
    border-bottom: 1px solid #4ab3fb;
    margin-bottom: 20px;
    .ui-item {
        cursor: pointer;
        display: block;
        position: relative;
        float: left;
        margin-right: -1px;
        width: 99px;
        text-align: center;
        line-height: 28px;
        border: 1px solid #ddd;
        border-bottom: 0;
        &.active {
            width: 100px;
            z-index: 1;
            color: #fff;
            border-color: #4ab3fb;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background: #4ab3fb;
        }
        &.has-error {
            color: red;
        }
    }
}
